{% extends 'admin/base.html' %}
{% load static %}


{% block content %}

  <header id="landing" class="text-white">
    <div class="container text-center">
      <h1>Task Progress</h1>
      <table align="center" border>
        <tr>
            <th>Woman Name</th>
            <th>Current Task</th>
            <th>Completed Hours</th>
            <th>Undertaken Hours</th>
            <th>Images</th>
        </tr>
      </table>
    </div>
  </header>
<!--
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead"></p>
        </div>
      </div>
    </div>
  </section>
-->

{% endblock %}
 