{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Umeed for Women</title>

  <!-- Bootstrap core CSS -->
  
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Umeed for Women</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="usersignup.html">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="usersignin.html">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="text-white header-site">
    <div class="container text-center" style="padding-top:35px">
      <h1>Umeed for Women</h1>
      <p class="lead">We're all in this together – all committed to helping people realize their full potential.</p>
    </div>
  </header>

  <h2 align="center" style="padding-top:50px "> Top Employees Of the Week </h2>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h3> Top 1.  &nbsp &nbsp Sasikala V.</h3>
            <p> Worked on Task3 for 8 hrs/day</p>
        </div>
        <br><br>
        <div class="col-lg-8 mx-auto">
          <h3> Top 2. &nbsp &nbsp Sharmila Banu P.</h3>
            <p> Worked on Task1 for 7 hrs/day</p>
        </div>
<br><br>
        <div class="col-lg-8 mx-auto">
          <h3> Top 3. &nbsp &nbsp  Meenal Pandey</h3>
            <p> Worked on Task2 for 5 hrs/day </p>
        </div>
      </div>
    </div>
  </section>

  
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Code For Good- Umeed for Women</p>
    </div>
    <!-- /.container -->
  </footer>
 <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>
  <!-- Bootstrap core JavaScript -->


</body>

</html>
