
header {
  padding: 80px 10px;
}

section {
  padding: 150px 0;
}

.header-site{
   background-color: lightpink;
   background-position: 100% 100%;
   background-repeat: no-repeat;
}

th, td {
  padding: 25px;
}
	
