header {
    padding: 80px 10px;
}
  
#landing{
      background-color: lightpink;
}

select{
    width: 200px;
    padding : 8px 5px;
}

form {
    border: 5px solid #f1f1f1;
}

input{
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.icon {
    font-size: 110px;
    display: flex;
    justify-content: center;
    color: #4286f4;
}

button {
    background-color: #4286f4;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grab;
    width: 48%;
}

h1 {
    text-align:center;
    fone-size:18;
}

button:hover {
    opacity: 0.8;
}

.formcontainer {
    text-align: center;
    margin: 24px 50px 12px;
}
.container {
    padding: 16px 0;
    text-align:left;
}